{% extends "base/home.html" %}

{% block title %}Add Event - {{ event.name }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
      <h3 class="text-body-emphasis mb-3">
        {% if alreadyAdded %}
        Event is already in the Calendar
        {% elif success %}
        Event was added to the Calendar
        {% else %}
        An Error occured while adding the Event to the Calendar
        {% endif %}
    </h3>
    <a class="btn btn-outline-primary px-5" href="{% url 'eventsDetails' %}" role="button">Go Back</a>
</div>
</div>
{% endblock %}