{% extends "base/home.html" %}
{% load static %}

{% block title %}Event Calendar{% endblock %}
{% block scripts %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/fullcalendar-6.1.9.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        initialDate: '{% now "Y-m-d" %}',
        navLinks: true,
        selectable: true,
        events: JSON.parse("{{events|escapejs}}")
        });
        calendar.render();
    });
</script>
{% endblock %}

{% block content %}
<div class="container px-5 py-3">
    <div id='calendar' style="max-height: 100vh;"></div>
    <div class="py-3 float-end">
        <a class="btn btn-outline-primary" href="{% url 'eventsDetails' %}" role="button">Details of Events</a>
    </div>
</div>
{% endblock %}