{% extends "base/home.html" %}

{% block title %}Admin - Club Hub{% endblock %}

{% block content %}
<div class="py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for key, value in options.items %}
        <div class="col">
            <div class="card shadow-sm bg-body-secondary">
            <div class="card-body">
                <h6 class="card-title">{{ value.0 }}</h6>
                <p class="card-text">{{ value.1 }}</p>
                <a role="button" class="btn btn-sm btn-outline-dark" href="{% url 'adminOptions' key %}">Expand</a>
            </div>
            </div>
        </div>
        {% empty %}
        <p>An Error Occured while Fetching the Options. Please try again later.</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}