{% load static %}

<!DOCTYPE html>
<html lang="en-us" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}404 Not Found{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'img/jklu.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <style>
    .hoverUnderline {
      position: relative;
    }
    .hoverUnderline:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--bs-link-color);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    .hoverUnderline:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  </style>
  {% block scripts %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
    <div class="px-5 bg-body-tertiary">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a onclick="window.location.reload();" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="bi" src="{% static 'img/jklu.png' %}" alt="JKLU Logo" width="50" height="50" />
          </a>
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'baseIndex' %}" class="nav-link hoverUnderline">Home</a></li>
          <li><a href="{% url 'clubIndex' %}" class="nav-link hoverUnderline">Club Hub</a></li>
          <li><a href="{% url 'eventIndex' %}" class="nav-link hoverUnderline">Event Calendar</a></li>
          <li><a href="{% url 'adminDash' %}" class="nav-link hoverUnderline">Dashboard</a></li>
        </ul>
        <div class="col-md-3 text-end">
          {% if user.is_authenticated %}
          <a href="{% url 'logoutPage' %}?next={{ request.path|urlencode }}" class="btn btn-outline-secondary me-2">Log Out</a>
          {% else %}
          <a href="{% url 'loginPage' %}" class="btn btn-outline-primary me-2">Login</a>
          <a href="{% url 'signupPage' %}" class="btn btn-primary">Sign Up</a>
          {% endif %}
        </div>
      </header>
  </div>

  <main>
      {% block content %}{% endblock %}
  </main>

  <footer class="footer mt-auto py-3 text-center bg-body-tertiary">
      <div class="container">
        <span class="text-body-secondary">&copy; Saurabh Saini, Sourabh Yadav, Swastik Kulshreshtha - 2023</span>
      </div>
  </footer>
</body>
</html>