{% extends "base/adminHome.html" %}
{% load static %}

{% block title %}Preview {{ option.0 }}{% endblock %}
{% block dashTitle %}Preview {{ option.0 }}{% endblock %}
{% block scripts %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <table class="table table-striped w-auto border infinite-container">
      <tr class="text-center">
      {% if optionNo is 1 %}
        <th>Branch ID</th>
        <th>Branch Name</th>
      {% elif optionNo is 2 %}
        <th>Batch</th>
        <th>Branch Name</th>
        <th>Roll No.</th>
        <th>Name</th>
      {% elif optionNo is 3 %}
        <th>ID</th>
        <th>Year</th>
        <th>Name</th>
        <th>Topic</th>
        <th>Faculty Mentor</th>
        <th>Logo</th>
        <th>President</th>
        <th>Vice-President</th>
        <th>President Picture</th>
        <th>Vice-President Picture</th>
      {% elif optionNo is 4 %}
        <th>Club</th>
        <th>Member</th>
        <th>Role</th>
      {% elif optionNo is 5 %}
        <th>ID</th>
        <th>Name</th>
        <th>Starts</th>
        <th>Ends</th>
        <th>Logo</th>
        <th>Location</th>
        <th>Is Online?</th>
        <th>Organizing Head</th>
        <th>Repeats?</th>
        {% elif optionNo is 6 %}
        <th>Event</th>
        <th>Session ID</th>
        <th>Session Name</th>
        <th>Starts</th>
        <th>Ends</th>
      {% elif optionNo is 7 %}
        <th>Event</th>
        <th>Member</th>
      {% elif optionNo is 8 %}
        <th>Event</th>
        <th>Team ID</th>
        <th>Team Name</th>
        <th>Core Coordinator</th>
        <th>Related Club</th>
      {% elif optionNo is 9 %}
        <th>Event</th>
        <th>Sub-Event ID</th>
        <th>Sub-Event Name</th>
        <th>Logo</th>
        <th>Starts</th>
        <th>Ends</th>
        <th>Location</th>
        <th>Is Online?</th>
        <th>Core Coordinator</th>
        <th>Coordinator</th>
      {% endif %}
        <th></th>
        <th></th>
      </tr>

      {% for detail in details %}
      <tr class="infinite-item">
      {% if optionNo is 1 %}
        <td>{{ detail.id }}</td>
        <td>{{ detail.name }}</td>
      {% elif optionNo is 2 %}
        <td>{{ detail.batch_no }}</td>
        <td>{{ detail.branch_id.name }}</td>
        <td>{{ detail.roll_no }}</td>
        <td>{{ detail.name }}</td>
      {% elif optionNo is 3 %}
        <td>{{ detail.club_id }}</td>
        <td>{{ detail.club_year }}</td>
        <td>{{ detail.club_name }}</td>
        <td>{{ detail.topic }}</td>
        <td>{{ detail.faculty_mentor }}</td>
        <td>{{ detail.logo|truncatechars:10 }}...</td>
        <td>{{ detail.president_id }}</td>
        <td>{{ detail.vice_president_id }}</td>
        <td>{{ detail.president_picture|truncatechars:10 }}..</td>
        <td>{{ detail.vice_president_picture|truncatechars:10 }}..</td>
      {% elif optionNo is 4 %}
        <td>{{ detail.club_id }}</td>
        <td>{{ detail.member }}</td>
        <td>{{ detail.role }}</td>
      {% elif optionNo is 5 %}
        <td>{{ detail.id }}</td>
        <td>{{ detail.name }}</td>
        <td>{{ detail.startDate }}</td>
        <td>{{ detail.endDate }}</td>
        <td>{{ detail.logo|truncatechars:10 }}...</td>
        <td>{{ detail.location }}</td>
        <td>{{ detail.isOnline }}</td>
        <td>{{ detail.organizingHead }}</td>
        <td>{% if detail.repetition != '' %}{{ detail.repetition }}{% else %}NO{% endif %}</td>
      {% elif optionNo is 6 %}
        <td>{{ detail.eventID }}</td>
        <td>{{ detail.sessionID }}</td>
        <td>{{ detail.sessionName }}</td>
        <td>{{ detail.startDate }}</td>
        <td>{{ detail.endDate }}</td>
      {% elif optionNo is 7 %}
        <td>{{ detail.eventID }}</td>
        <td>{{ detail.member }}</td>
      {% elif optionNo is 8 %}
        <td>{{ detail.eventID }}</td>
        <td>{{ detail.teamID }}</td>
        <td>{{ detail.name }}</td>
        <td>{{ detail.coreCoordinator }}</td>
        <td>{{ detail.relatedClub }}</td>
      {% elif optionNo is 9 %}
        <td>{{ detail.eventID }}</td>
        <td>{{ detail.subEventID }}</td>
        <td>{{ detail.name }}</td>
        <td>{{ detail.logo|truncatechars:10 }}...</td>
        <td>{{ detail.startDate }}</td>
        <td>{{ detail.endDate }}</td>
        <td>{{ detail.location }}</td>
        <td>{{ detail.isOnline }}</td>
        {% if detail.coreCoordinator != detail.coordinator %}
        <td>{{ detail.coreCoordinator }}</td>
        <td>{{ detail.coordinator }}</td>
        {% else %}
        <td colspan="2"></td>
        {% endif %}
        {% endif %}
        <td>
          <a class="btn btn-secondary" href="{% url 'adminEdit' optionNo detail.id %}">Edit</a>
        </td>
        <td>
          <a class="btn btn-danger" href="{% url 'adminDelete' optionNo detail.id %}">Delete</a>
        </td>
      </tr>
    {% empty %}
    <p>No more details found!</p>
    {% endfor %}
    </table>

    {% if details.has_next %}
    <a class="infinite-more-link" href="?page={{ details.next_page_number }}">More</a>
    {% endif %}
    
    <div class="loading" style="display: none;">
    Loading...
    </div>
  </div>

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
    </script>
{% endblock %}