{% extends "base/adminHome.html" %}

{% block title %}Execute Raw SQL{% endblock %}
{% block dashTitle %}Execute Raw SQL{% endblock %}

{% block content %}
<div class="container">
    <form method="post" class="row g-3">
        {% csrf_token %}
        <div class="form-floating">
            <textarea class="form-control" id="sqlQuery" name="query" placeholder="SELECT * FROM cHub_Branch;"></textarea>
            <label for="sqlQuery">SQL Query</label>
            <div id="sqlHelp" class="form-text"><strong>NOTE</strong>: Please double check the Query before Executing.</div>
        </div>
        {% if output %}
        <button type="submit" class="btn btn-danger" disabled>Submit</button>
        {% else %}
        <button type="submit" class="btn btn-danger">Submit</button>
        {% endif %}
    </form><br>
    <h5 class="">Output-</h5>
    {% if error %}
    <p style="font-family: Consolas, monaco, monospace;">{{ errorOutput }}</p>
    {% else %}
    {% if output %}
    <table class="table table-striped">
        <tbody>
            {% for row in output %}
            <tr>
                {% for i in row %}
                <td>{{ i }}</td>
                {% endfor %}
            </tr>
            {% empty %}
            <br>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}
</div>
{% endblock %}